<div class="debtor-show">
  <div class="row">
    <div class="col-sm-6">
      <h1> <%= @debtor.unique_id %></h1>
    </div>
  </div>
  <div class="row">
    <div class="container-score">
      <div class="col-sm-6">
        <h3> Your Score </h3>
        <%= @debtor.scoref %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-home-link">
      <%= link_to "Home", home_path %>
    </div>
  </div>
</div>
