// Specific CSS for your home-page
.home-css {

.home-btn {
  background-color: #3FDA92 !important;
  border-color: #3FDA92;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  width:230px;
  color: white;
}

.home-btn:hover{
  background-color: #29C078 !important;
  border-color: #29C078;

}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;

}

.feature {
  display: flex;
  flex-direction: column;
  margin:0px 10%;

}

.left {
  width: 100%;
  height:600px;
  position: relative;
}

.right {
  width: 100%;
  height:500px;
  display: flex;
  flex-direction:column;
}

.description {
  text-align: center;
  font-size: 14px;
    font-weight: lighter;
    margin: 20px;
}

.profile-progress {
  box-shadow: 10px 10px 5px 0px rgba(209,205,209,1);
}

.profile-map {
  height: 500px;
  width: 500px;
  box-shadow: 10px 10px 5px 0px rgba(209,205,209,1);
}

.map-btn {
  margin-left: 130px;
text-align: center;
margin-top: 30px;
}

.progress-btn {
  margin-left:350px;
  text-align: center;
  margin-top:30px;


}

}
