h1 {
  text-align: center;
}

.from-container {
  text-align: center;
  align-item:center;
  padding-bottom: 50px;
}

.form-wrap-grey {
  display: inline-block;
  width: 60%;
  background-color: lightgrey;
  padding: 10px;
}

.form {
  padding: 20px;
}

.form-button {
  padding: 20px;
}