h1 {
  text-align: center;
}

.big-div-wrap {
  text-align: center;
}

.form-wrap {
  display: inline-block;
  width: 60%;
  background-color: lightgrey;
  padding: 10px;
}

.form {
  padding: 20px;
}

