  <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Dashboard</a><i class="arrow down"></i>
    <a href="/debtors/new" class="navbar-wagon-item navbar-wagon-link">Compliance Risk</a><i class="arrow down"></i>
    <a href="/map" class="navbar-wagon-item navbar-wagon-link">Solvency Map</a><i class="arrow down"></i>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Client Help Page</a><i class="arrow down"></i>
</div>

</div>
