<div class="Dashboard">
      <h1>Dashboard</h1>
    <div class="d-flex flex-row">
    <div class="p-2">
      <p>Compliance Map</p>
    </div>
    <div class="p-2">
      <p>Compliance Metrics</p>
    </div>
    <div class="p-2 active">
      <p>Compliance Risks App</p>
    </div>
  </div>
</div>
<div class="dashboard-container">
    <div class="compliance-risk-app-feature">
      <p class="description">Your Results</p>
      <div class="result-container">
        <div class="d-flex flex-column align-center">
          <div class="p-2">
            <div class="d-flex flex-row">
              <div class="p-2">
                <h3>Your result:</h1>
              </div>
              <div class="p-2">
                <h1 style= "color: #F24822">78%</h1>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h4>Based on you score you have a <span style="color: #F24822">high</span>
            likehood of non-complying with the bankruptcy regime.</h4>
          </div>
          <div class="p-2">
            <h4>We recommand that you review our online learning materials at Insolvit Together.</h4>
          </div>
          <div class="p-2">
            <p>Over 110,000 people in Australia are bankrupt. You're not alone. When
            someone becomes personally insolvent, suddenly retrictions apply and
            obligations appear. These can sometimes be burdensome and may be challenging
            to understand all the regulation that you need to comply with. We have made
            some online resources to support you make a fresh start.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


