<div class="Dashboard">
      <h1>Dashboard</h1>
    <div class="d-flex flex-row">
    <div class="p-2">
      <p>Compliance Map</p>
    </div>
    <div class="p-2">
      <p>Compliance Metrics</p>
    </div>
    <div class="p-2 active">
      <p>Compliance Risks App</p>
    </div>
  </div>
</div>
<div class="dashboard-container">
    <div class="compliance-risk-app-feature">
      <p class="description">Our machine learning platform can help you work
       out which clients are at highest risk of non-compliance</p>
      <a class="btn btn-success compliance-risk-btn">Enter the App</a>
    </div>
  </div>
</div>
