<div class="Dashboard">
      <h1>Dashboard</h1>
    <div class="d-flex flex-row">
    <div class="p-2">
      <p>Compliance Map</p>
    </div>
    <div class="p-2">
      <p>Compliance Metrics</p>
    </div>
    <div class="p-2 active">
      <p>Compliance Risks App</p>
    </div>
  </div>
</div>
<div class="dashboard-container">
    <div class="compliance-risk-app-feature">
      <p class="description">Please enter your gender</p>
      <div class="dropdown center-block">
        <button class="btn btn-success dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gender
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Male</a>
          <a class="dropdown-item" href="#">Female</a>
          <a class="dropdown-item" href="#">Other</a>
        </div>
      </div>
    </div>
  </div>
</div>


