<div class="banner">
  <div class="banner-content">
    <h1>Insolvit&trade; is the data-driven solution to non-compliance in bankruptcy</h1>
    <p>Compare solvency areas and search for scores in seconds</p>

  </div>
</div>
<div class="container">
  <div class="wrapper">
    <div class="feature">
      <a class="btn btn-success btn-lg home-btn">Dashboard</a>
      <p class="description">An overview of compliance in seconds</p>
    </div>
    <div class="feature">
      <a class="btn btn-success btn-lg home-btn">Risk Prediction</a>
      <p class="description">Predict based upon ML non-compliance</p>
    </div>
    <div class="feature">
    <a class="btn btn-success btn-lg home-btn">Solvency Map</a>
    <p class="description">View solvency heatzones</p>
    </div>
  </div>
</div>
