<div class="home-css">
  <div class="banner">
    <div class="banner-content">
      <h1>Insolvit&trade; is the data-driven solution to non-compliance in bankruptcy</h1>
      <p>Compare solvency areas and search for scores in seconds</p>
      <a class="btn btn-success btn-lg banner-btn">Dashboard</a>

    </div>

  </div>


<div class="wrapper">
  <div class="left">
    <div class="feature">
      <%= image_tag "australia-map.png", class: "profile-map"%>
      <a class="home-btn map-btn">Compliance Map</a>

    </div>
  </div>

  <div class="right">
    <div class="feature">
      <%= image_tag "home_progress.png", class:"profile-progress" %>
      <a class="home-btn progress-btn">Compliance Score</a>
    </div>
  </div>
</div>
</div>
</div>
